body{
    text-align: center;
    align-items: center;        
}
  .naiana{
    font-size: 100px;
    
  }
*{
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style:none;
  box-sizing: border-box;
}

.navigation{
  background-color: black;
}
.navigation > .container{
  max-width: 90%;
  margin: auto;
}
.navigation .navbar{
  position: relative;
}
.navigation .navbar .logo-toggle-container{
  position: absolute;
  left: 50%;
  top:5px;
  transform: translateX(-50%);
}
.navigation .navbar .logo-toggle-container a{
  display: block;
}
.navigation .navbar .logo-toggle-container a img{
  width: 120px;
}
.navigation .menu{
  text-align: right;
}
@media screen and (min-width:1024px){
  .navigation .menu{
    display: block !important;
    height: auto !important;
  }
}
.navigation .menu li{
  display: inline-block;
  padding: 43px 70px;
}
.navigation .menu li a{
  display: block;
  padding: 8px 15px;
  text-decoration: none;
  font-weight: 600;
  letter-spacing: 1px;
  color: #fff;
  font-size: 16px;
  text-transform: uppercase;
}
.navigation .menu li:nth-child(1){
  float: left;
}

.navigation .menu li:nth-child(2){
  float: left;
}
a.active, a:hover{
  background: #CD853F;
  transition: .5s;
}
.navigation .menu li:hover a{
  background-color: #CD853F;
  color: #fff;
  transition: .5s;
}
@media screen and (max-width:600px){
  .navigation .navbar .logo-toggle-container{
    position: static;
    transform: translateX(0%);
  }
  .navigation .navbar .logo-toggle-container a{
    width: 80%;
  }
  .navigation .navbar .logo-toggle-container .toggle-box{
    position: absolute;
    right: 10px;
    top: 30px;
    display: block;
    width: 30px;
    background: #fff;
    padding: 15px 9px;
    cursor: pointer;
    border-radius: 5px;
  }
    .navigation .navbar .logo-toggle-container .toggle-box span{
      display: block;
      max-width: 90%;
      margin: auto;
      height: 2px;
      background-color: black;
      margin-bottom: 4px;
    }
        .navigation .navbar .logo-toggle-container .toggle-box span:last-child{
          margin-bottom: 0;
        }
    .navigation .menu{
      text-align: center;
      display:none;
    }
    .navigation .menu li{
      display: block;
      float: none !important;
      padding: 0 10px;
      border-bottom: 1px solid #ccc;
    }
      .fotodefundo{
  width: 100%;
  max-width: 400px;
  height: auto;
  }
  .textodefundo{
    margin-top: 190px;
    margin-right: 200px;
  }
  .naiana{
    font-size: 100px;
  }
  h2{
    font: 10px;
  }
  .explicando{
    font-size: 25px;
  }
  .atuamos{
    font-size: 40px;
  }
  .atuar{
    text-align: center;
    margin-left: -20px;
    font-size: 50px;
    padding-bottom: 10px;
  }
  p{
    text-align: center;
  }
  
  }
  @font-face {
  font-family: edwardian;
  src: url(Edwardian-Script-ITC_15099.ttf) format('opentype');
}
.textodefundo{
  font-family: 'Georgia';
  padding-top: 20px;
  color: rgb(255, 255, 255);
  font-weight: bold;
  position: absolute;
  top: 300px;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 80%;
  padding: 20px;
  text-align: center;
}
.fotodefundo{
    background-image:url(https://i.pinimg.com/originals/c5/34/44/c53444987b6fb2fc8549608881445f29.png);
    max-width: 100%;
    background-repeat:no-repeat ;
    background-attachment: local;
    background-size: 100% 100%;
    height: 100vh;
    text-align: center;
    padding-top: 120px;
    object-fit: cover; 
    padding-bottom: 90px;
    
}

.avatar{
      border-radius: 50%;
      width: 50px;
}
.card{ 
    justify-self: center;
    text-align: center;
    width: 70%;
    padding-top: 50px;
    padding-bottom: 50px;
    border-radius: 10%;
    border: 1px solid gray;
    box-shadow: 10px 5px 5px black;
}
.atuação{
    text-align: left;
    margin-left: 30%;
    margin-right: 30%;
    padding-bottom: 40px;
    flex-direction: column;
    display: flex;
}
.item{
    transition: .35s;
    cursor: pointer;
    display: inline-block;
    padding-bottom: 50px;
    margin-bottom: 40px;
}
.container:hover > :not(:hover){
    opacity: .4;
    transform: scale(0.9);
}
.container2 {
    margin-top: 30px;
    margin-left: 30px;
    height: 450px;
    width: 300px;
    box-shadow: 0 0px 20px white;
    background-size: cover;
    justify-content: center;
    align-items: center;
    text-align: center;
    overflow: hidden;
    font-family: 'Abel', sans-serif;
}

.image {
    height: 150px;
    width: 150px;
    background-image: url('/img/naiana.jpeg');
    background-size: cover;
    border-radius: 50%;
    border: 8px solid white;
    position: relative;
    top: 150px;
    margin-left: 137px;
    box-shadow: 0 2px 15px rgb(58, 54, 54);
    transform: rotate(-20deg);
}

.shape {
    height: 250px;
    width: 400px;
    background-color: white;
    margin-left: -20px;
    position: relative;
    top: -80px;
    box-shadow: 0 2px 15px black;
    transform: rotate(25deg);
}


.title {
    color: rgb(105, 100, 109);
}

.icons {
    margin-top: 15px;
}

.icons a {
    background-color: transparent;
    margin-left: 10px;
    font-size: 25px;
    transition: 0.3s;
    color: rgb(40, 163, 194);
    ;
}

.icons a:hover {
    transform: scale(1.1);
    color: rgb(18, 192, 235);
}
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,500,300,700);

.footer-distributed{
	background: black;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	font: bold 16px sans-serif;
	padding: 55px 50px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
	display: inline-block;
	vertical-align: middle;
}

.footer-distributed .footer-left{
	width: 40%;
}
.footer-distributed .footer-center{
	width: 35%;
}

.footer-distributed .footer-center i{
	background-color:  #33383b;
	color: #ffffff;
	font-size: 25px;
	width: 38px;
	height: 38px;
	border-radius: 50%;
	text-align: center;
	line-height: 42px;
	margin: 10px 15px;
	vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope{
	font-size: 17px;
	line-height: 38px;
}

.footer-distributed .footer-center p{
	display: inline-block;
	color: #ffffff;
    font-weight:400;
	vertical-align: middle;
	margin:0;
}

.footer-distributed .footer-center p span{
	display:block;
	font-weight: normal;
	font-size:14px;
	line-height:2;
}

.footer-distributed .footer-center p a{
	color:  lightseagreen;
	text-decoration: none;;
}

.footer-distributed .footer-links a:before {
  content: "|";
  font-weight:300;
  font-size: 20px;
  left: 0;
  color: #fff;
  display: inline-block;
  padding-right: 5px;
}

.footer-distributed .footer-links .link-1:before {
  content: none;
}

/* Footer Right */

.footer-distributed .footer-right{
	width: 20%;
}

.footer-distributed .footer-company-about{
	line-height: 20px;
	color:  #92999f;
	font-size: 13px;
	font-weight: normal;
	margin: 0;
}

.footer-distributed .footer-company-about span{
	display: block;
	color:  #ffffff;
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 20px;
}

.footer-distributed .footer-icons{
	margin-top: 25px;
}

.footer-distributed .footer-icons a{
	display: inline-block;
	width: 35px;
	height: 35px;
	cursor: pointer;
	background-color:  #33383b;
	border-radius: 2px;

	font-size: 20px;
	color: #ffffff;
	text-align: center;
	line-height: 35px;

	margin-right: 3px;
	margin-bottom: 5px;
}
table {
    border-collapse: collapse;
}

    #activerow {
        border: 0.5px solid #8CC63F;
    }

    #activerow > td {
        color: #8CC63F;
        font-weight: 600;
    }

    #activerow > td > span {
        color: #8CC63F;
    }

    .opening-hours {
        overflow: hidden;
        box-shadow: 0 0px 20px white;
        background-color: black	;
        padding: 1em;
        max-width: 450px;
        min-width: 320px;
        margin-left: -50px;
    }


    .fvl-d > td {
        font-size: 12px;
        font-weight: 400;
        letter-spacing: 1.2px;
        color: white;
        text-transform: uppercase;
        padding: 1em;
    }

    .fvl-d > td > span {
        font-size: 12px;
        font-weight: 600;
        letter-spacing: 1.2px;
        color: white;
        text-transform: uppercase;
    }
label a:hover{
  background: transparent;
}
@media (max-width: 767px) {
   .footer-distributed .footer-left{
    display: block;
    width: 100%;
    margin-bottom: 40px;
    text-align: center;
    margin-left: -20px;

    }
      .footer-distributed .footer-center{
    display: block;
    width: 100%;
    margin-bottom: 40px;
    text-align: justify;
    font-size: 14px;
      }


  .footer-distributed .footer-right{
    display: block;
    width: 100%;
    margin-bottom: 40px;
    text-align: center;
    margin-left: 30px;
  }

  .footer-distributed .footer-center i{
    margin-left: 0;
  }

}